
.container {
  display:flex;
  flex-direction:column;
  background-color:grey;
  border:2px solid black;
  margin: 20px 10px 10px;
  padding: 10px;

}
.rowContainer{
  display:flex;
  flex-direction :row;
  justify-content: space-around;
}
.saveButton{
  background-color: grey;
  border-radius: 10%;
}
